absl-py==1.4.0
anyio==4.6.2.post1
apache-beam==2.60.0
area==1.1.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_record==0.5.1
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.2.0
avro-python3==1.10.2
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
comm==0.2.2
contextlib2==21.6.0
contourpy==1.3.0
crcmod==1.7
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.11
dbus-python==1.3.2
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.1.1
distlib==0.3.9
dm-tree==0.1.8
dnspython==2.7.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.21.2
etils==1.10.0
executing==2.1.0
fastavro==1.9.7
fasteners==0.19
fastjsonschema==2.20.0
filelock==3.16.1
fiona==1.10.1
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
fsspec==2024.9.0
gast==0.6.0
geopandas==1.0.1
gin-config==0.5.0
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
grpcio==1.65.5
h11==0.14.0
h5py==3.12.1
hdfs==2.7.3
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
idna==3.10
immutabledict==4.2.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.28.0
ipywidgets==8.1.5
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpickle==3.3.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaggle==1.6.17
keras==3.6.0
keyring==25.4.1
kiwisolver==1.4.7
labelImg==1.8.6
libclang==18.1.1
lvis==0.5.3
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==10.5.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
nh3==0.2.18
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
oauth2client==4.1.3
object_detection @ file:///home/jaydenlo08/Documents/Computing/classibin/object/models/research
objsize==0.7.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.13.0
orjson==3.10.9
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
pip-review==1.3.0
pkginfo==1.10.0
platformdirs==4.3.6
portalocker==2.10.1
progressbar2==4.5.0
prometheus_client==0.21.0
promise==2.3
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==4.25.5
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.27.0
pycocotools==2.0.8
pycoral @ file:///home/jaydenlo08/Documents/Computing/classibin/.venv/whl/pycoral-2.0.2-cp312-cp312-linux_x86_64.whl#sha256=12aeb8cee8e97b220b799620d2dbde43195d6288eb97c11c34e56b42d44c6714
pycparser==2.22
pydot==1.4.2
Pygments==2.18.0
PyGObject==3.50.0
pymongo==4.10.1
pyogrio==0.10.0
pyparsing==2.4.7
pyproj==3.6.1
PyQt5==5.15.10
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-slugify==8.0.4
python-utils==3.9.0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
readme_renderer==44.0
redis==5.1.1
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
sacrebleu==2.2.0
scikit-learn==1.5.2
scipy==1.14.1
SecretStorage==3.3.3
Send2Trash==1.8.3
sentencepiece==0.2.0
seqeval==1.2.2
setuptools==75.2.0
shapely==2.0.6
simple-parsing==0.1.6
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-datasets==4.9.6
tensorflow-hub==0.16.1
tensorflow-io==0.37.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.16.1
tensorflow-model-optimization==0.8.0
tensorflow-text @ file:///home/jaydenlo08/Downloads/tensorflow_text-2.17.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256=161c09380b090774ed721cdcce973194458708250d7dfbac7cb9ea8a3e9ac762
tensorflow_object_detection @ file:///home/jaydenlo08/Documents/Computing/classibin/tensorflow_object_detection-0.0.6
termcolor==2.5.0
terminado==0.18.1
text-unidecode==1.3
tf-models-official==2.17.0
tf-slim==1.1.0
tf_keras==2.17.0
tflite-runtime @ file:///home/jaydenlo08/Documents/Computing/classibin/.venv/whl/tflite_runtime-2.18.0-cp312-cp312-linux_x86_64.whl#sha256=4d4cdeb2b16f88e46e5dacc70fac63ea43bfbf389ac0feba1f06c031504fa339
threadpoolctl==3.5.0
tinycss2==1.3.0
toml==0.10.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
twine==5.1.1
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.3
virtualenv==20.26.6
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.4
wheel==0.44.0
widgetsnbextension==4.0.13
wrapt==1.16.0
zipp==3.20.2
zstandard==0.23.0
